.registration2S{
    background: #FCF8EF;
    min-height: 100vh;
    height: 1800px;
}

.logo{
    margin-right: 1.5rem;
}

.logo img{    
    width: 400px;
    height: 70px;
    left: 50%;
    margin-left: 550px;
    margin-top: 2rem;
}

.reg2TLogo{
    width: 130px;
    height: 130px;
}

.formContainer2S{
    left: 50%;
    margin-left: 516px;
}

.registrationForm2S{
    width: 850px;
    height: 1560px;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    margin-top: 60px;
    margin-left: -180px;
}

.registrationForm2S p{
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    padding-left: 30px;

    color: #97B6DD;
    font-family:var(--font-other);
}

.reg2PageTitle{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    padding-left: 30px;
    padding-top: 30px;

    color: #5F8BD0;

    font-family: var(--font-other);
}

button{
    border: none;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}

.reg2SubmitPageButton{
    font-family: var(--font-other);
    font-weight: 200;
    font-size: 26px;
    line-height: 20px;
    background-color: #5F8BD0;
    color: white;
    margin: 1rem;
    width: 235px;
    cursor: pointer;
    
}

.reg2LinkButton{
    background: none;
    color: white;
    text-decoration: underline;
    color: #0000EE;
    cursor: pointer;

    
}

.options {
    display: flex;
    flex-direction: column;
    margin: 10px 5;
}

label {
    display: flex;
    align-items:center;
    margin: 5px 0;

    color:#5F8BD0;
    font-size: 16px;
    font-family: var(--font-other);
}

.formStyleS2 {
    display: "flex";
    flex-direction: "column";
    align-items: "center";
    position: "absolute";
    font-family: var(--font-other);

    margin: 9px -25px;

    color:#5F8BD0;
    padding-left: 50px
};

.reg2SubmitPageButton:hover{
    transform: scale(1.02) perspective(1px);
}

.pickTitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    padding-left: 30px;

    color: #5F8BD0;
    font-family:var(--font-other);
}


.studentTypeSelect {
    display: flex;
    flex-direction: row;
    font-weight: 300;
    font-size: 18px;
    line-height: 12px;
    padding-left: 30px;

    color: #000000;
    font-family:var(--font-other);
}


input[type=radio] {
    height: 25px;
    width: 25px;
}

.stuElementarySelect input{
    margin: 0px;
}

.stuElementaryselect p{
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
}

.stuSecondarySelect input{
    margin: 0px;
}

.stuSecondarySelect p{
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
}

.stuPostSelect input{
    margin: 0px;
}

.stuPostSelect p{
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
}

.reg2TitleLogo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.reg2Subtitle {
    padding-left: 30px;
}

.stuElementaryselect, .stuSecondarySelect, .stuPostSelect {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 80px;
    padding-bottom: 15px;

}

.buttonAccount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: end;
}

.accountLink {
    margin-right: 30px;
}

.selectorTitle {
    color: black;
}


.termsAgree {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.checkBox {
    width: 25px;
    height: 25px;
    margin: 0px;
    margin-left: 30px;
    background-color: #000000;
}

.terms {
    color: #000000;
}

.logo {
    position: relative;
}